{%extends 'base.html'%}
{%from 'macros.html' import sex_to_view%}
{%block functions%}

<div class='navbar-collapse collapse'>
        
</div>

{%endblock%}
{%block page_content%}

<div class='row'>
    <div class='col-lg-1'>

    </div>
    <div class='col-lg-10'>
        <table class="table table-hover ">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Fine</th>
                    <th>Deposite</th>
                    <th>Records</th>
                    <th>Borrowing Books</th>
            
                    
                </thead>
                <tbody>
                    
                    
                    
                    
                    <tr>

                        <td class='col-lg-1'>{{reader.ID}}</td>
                        <td class='col-lg-1'>{{reader.name}}</td>
                        <td class='col-lg-1'>{{sex_to_view(reader.sex)}}</td>
                        <td class='col-lg-1'>{{reader.fine}}</td>
                        <td class='col-lg-1'>{{reader.deposit}}</td>
                        <td class='col-lg-1'><a href='{{url_for('reader.get_records',reader_id = reader.reader_id,page=1)}}' >Click</a></td>
                        <td class='col-lg-1'><a href='{{url_for('reader.borrowing_books',reader_id = reader.reader_id)}}' >Click</a></td>
                        
                        
            
                       
                    </tr>
                   
                    
                </tbody>
            </table>
</div>
</div>

{%endblock%}