{%extends 'librarian/main.html'%}
{%from 'macros.html' import status_to_view%}
{%block page_content%}

<div class='row'>
    <div class='col-lg-1'></div>
    <div class = 'col-lg-10'>
        <div class='row'>
                <table class="table table-hover ">
                        <thead>
                            <th>Picture</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Press</th>
                            <th>Publish Date</th>
                            <th>ISBN</th>
                            <th>Price</th>
                            <th>Summary</th>
                    
                            <th>Operations</th>
                        </thead>
                        <tbody>
                            
                            
                            
                            <tr>
                                <td class='col-lg-1'><a href='{{url_for('librarian.get_book_copies',book_id=book_.book_id)}}' class='thumbnail'><img src='/static/picture/{{book_.picture}}'></a></td>
                                <td class='col-lg-1'><a href='{{url_for('librarian.get_book_copies',book_id=book_.book_id)}}'>{{book_.title}}</a></td>
                                <td class='col-lg-1'>{{book_.author}}</td>
                                <td class='col-lg-1'>{{book_.press}}</td>
                                <td class='col-lg-1'>{{book_.publish_date}}</td>
                                <td class='col-lg-1'>{{book_.ISBN}}</td>
                                <td class='col-lg-1'>{{book_.price}}</td>
                                <td class='col-lg-3'>
                                        <a href="#" class="tooltip-test" data-toggle="tooltip" title="{{book_.summary}}">{{book_.summary[:20]}}</a>
                                    
                                </td>
                    
                                <td class='col-lg-2'>
                                    <button class='btn btn-default btn-xs'>
                                        <a href="{{url_for('librarian.edit_book',book_id=book_.book_id)}}">Edit</a>
                                    </button>
                                    
                                    <button class='btn btn-default btn-xs'>
                                        <a href='{{url_for('librarian.add_copy',book_id=book_.book_id)}}'>Add</a>
                                    </button>
                                   
                                    <button class="btn btn-default btn-xs" data-toggle='modal' data-target='#delete{{book_.book_id}}'>
                                            <a>Delete</a>
                                    </button>
                                    
                                    <div class="modal fade" id="delete{{book_.book_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                            &times;
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel">
                                                            Confirmed to delete?
                                                        </h4>
                                                    </div>
                                                   <div class='modal-body'>
                                                       <table>
                                                           <thead>
                                                                
                                                                <th>Title</th>
                                                                <th>Author</th>
                                                                <th>Press</th>
                                                                <th>Publish Date</th>
                                                                <th>ISBN</th>
                                                                <th>Price</th>
                                                                <th>Summary</th>
                                                           </thead>
                                                           <tbody>
                                                               <tr>
                                                                    
                                                                    <td class='col-lg-1'><a href='{{url_for('librarian.get_book_copies',book_id=book_.book_id)}}'>{{book_.title}}</a></td>
                                                                    <td class='col-lg-1'>{{book_.author}}</td>
                                                                    <td class='col-lg-1'>{{book_.press}}</td>
                                                                    <td class='col-lg-1'>{{book_.publish_date}}</td>
                                                                    <td class='col-lg-1'>{{book_.ISBN}}</td>
                                                                    <td class='col-lg-1'>{{book_.price}}</td>
                                                                    <td class='col-lg-3'>
                                                                            <a href="#" class="tooltip-test" data-toggle="tooltip" title="{{book_.summary}}">{{book_.summary[:20]}}</a>
                                                                    </td>
                                                               </tr>
                                                           </tbody>
                                                       </table>

                                                   </div>
                                                    <div class="modal-footer">
                                                        <a class="btn btn-default" data-dismiss="modal" href='#' role='button'>Close
                                                        </a>
                                                        <a class="btn btn-default"  href="{{url_for('librarian.delete_book',book_id=book_.book_id)}}" role='button'>Delete
                                                        </a>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal -->
                                            
                                        </div>
                                    
                                </td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
        </div>
        <div class='row'>
        <table class="table table-hover ">
            <thead>
                <th>No</th>
                <th>Copy ID</th>
                <th>Status</th>
                <th>Return Date</th>
                <th>Location</th>
                <th>Operations</th>
            </thead>
            <tbody>
                {%for book in book_copies%}
                <tr>
                    <td class='col-lg-2'>{{loop.index}}</td>
                    <td class='col-lg-2'>{{book.copy_id}}</td>
                    <td class='col-lg-2'>{{status_to_view(book.status)}}</td>
                    <td class='col-lg-2'>{{book.return_date}}</td>
                    <td class='col-lg-2'>{{book.location}}</td>
                    <td class='col-lg-2'>
                        <button class='btn btn-default btn-sm'>
                            <a href='{{url_for('librarian.edit_copy',copy_id=book.copy_id)}}'>Edit</a>
                        </button>
                        <button class="btn btn-default btn-sm" data-toggle='modal' data-target='#delete{{book.copy_id}}'>
                                <a>Delete</a>
                        </button>
                
                        <div class="modal fade" id="delete{{book.copy_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                Confirmed to delete?
                                            </h4>
                                        </div>
                                       <div class='modal-body'>
                                            <table class="table table-hover ">
                                                    <thead>
                                                       
                                                        <th>Copy ID</th>
                                                        <th>Status</th>
                                                        <th>Return Date</th>
                                                        <th>Location</th>
                                                       
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                                <td class='col-lg-2'>{{book.copy_id}}</td>
                                                                <td class='col-lg-2'>{{status_to_view(book.status)}}</td>
                                                                <td class='col-lg-2'>{{book.return_date}}</td>
                                                                <td class='col-lg-2'>{{book.location}}</td>
                                                        </tr>
                                                    </tbody>
                                            </table>
                                       </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-default" data-dismiss="modal" href='#' role='button'>Close
                                            </a>
                                            <a class="btn btn-default" href="{{url_for('librarian.delete_copy',copy_id=book.copy_id)}}" role='button'>Delete
                                            </a>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                            </div>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    </div>
</div>

{%endblock%}