{%extends 'librarian/main.html'%}

{%block page_content%}

<div class='row'>
</br></br>
    <div class='col-lg-4'>
            
    </div>
    <div class='col-lg-4'>
            <strong>Copy ID : {{copy.copy_id}}</strong>
        {{wtf.quick_form(form)}}
        
        <script>
                $(function () { $('#myModal').modal({keyboard: true})});
        </script>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                {{header}}
                            </h4>
                        </div>
                       <div class='modal-body'>
                           <table>
                               <thead>
                                    
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Sex</th>
                                    <th>Title</th>
                                    <th>ISBN</th>
                                    <th>Copy ID</th>
                                    <th>{{header}} Fine</th>
    
                                    
                                    
                               </thead>
                               <tbody>
                                   
                                   <tr>
                                        <td class='col-lg-1'>{{reader.ID}}</td>
                                        <td class='col-lg-1'>{{reader.name}}</td>
                                        <td class='col-lg-1'>{{sex_to_view(reader.sex)}}</td>
                                        <td class='col-lg-1'>{{copy.book.title}}</td>
                                        <td class='col-lg-1'>{{copy.book.ISBN}}</td>
                                        <td class='col-lg-1'>{{copy.copy_id}}</td>
               
                                        <td class='col-lg-1'>{{fine}}</td>
                                   </tr>
                                  
                               </tbody>
                           </table>

                       </div>
                        <div class="modal-footer">
                            <a class="btn btn-default" data-dismiss="modal" href='#' role='button'>Cancel
                            </a>
                            <a class="btn btn-default"  href='{{url_for('librarian.damage',reader_id=reader.reader_id,fine=fine)}}' role='button'>Submit
                            </a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
           
    </div>
    <div class='col-lg-4'></div>
</div>

{%endblock%}