{%extends 'base.html'%}
{%block functions%}

<div class='navbar-collapse collapse'>
    <ul class='nav navbar-nav'>

        <li><a  href='{{url_for('librarian.get_books',content='_',page=1)}}'>Books</a></li>
        <li><a href='{{url_for('librarian.add_book')}}'>Add Book</a></li>
     
        <li><a href='{{url_for('librarian.register_reader')}}'>Register Reader</a></li>
        <li><a href='{{url_for('librarian.borrow_book')}}'>Borrow Book</a></li>
        <li><a href='{{url_for('librarian.return_book')}}'>Return Book</a></li>
        <li><a href='{{url_for('librarian.return_fine')}}'>Fine</a></li>
        <li><a href='{{url_for('librarian.system_setting')}}'>System Setting</a></li>
    </ul>
</div>


{%endblock%}
