{%extends 'admin/main.html'%}
{%from 'macros.html' import sex_to_view%}
{%block page_content%}
<div class='row'>
        <div class='row'>
                <div class='col-lg-2'></div>
                <div class='col-lg-8'>
                <table class='table table-hover'>
                    <thead>
                        <th class='col-lg-1'>ID</th>
                        <th class='col-lg-1'>Name</th>
                        <th class='col-lg-1'>Sex</th>
                        <th class='col-lg-2'>Operations</th>
                        
                    </thead>
                    <tbody>
                        {% for t in ts %}
                        <tr>
                            <td class='col-lg-1'>{{t.ID}}</td>
                            <td class='col-lg-1'>{{t.name}}</td>
                            <td class='col-lg-1'>{{sex_to_view(t.sex)}}</td>
                            <td class='col-lg-2'>
                                <!-- <a href = "{{url_for('admin.edit_librarian',ID = t.ID)}}">Edit</a> -->
                                <a class="btn btn-default btn-small" href="{{url_for('admin.edit_librarian',ID=t.ID)}}" role='button'>
                                    Edit
                                </a>
                                
                                &nbsp
                                <button class="btn btn-default btn-small" data-toggle='modal' data-target='#delete{{t.ID}}'>
                                    Delete
                                </button>
                                <div class="modal fade" id="delete{{t.ID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">
                                                        Confirmed to delete?
                                                    </h4>
                                                </div>
                                               <div class='modal-body'>
                                                   Librarian : {{t.ID}}
                                               </div>
                                                <div class="modal-footer">
                                                    <a class="btn btn-default" data-dismiss="modal" href='#' role='button'>Close
                                                    </a>
                                                    <a class="btn btn-default" href="{{url_for('admin.delete_librarian',ID=t.ID)}}" role='button'>Delete
                                                    </a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>
                                    
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
                </div>
                <div class='col-lg-2'></div>
        </div>
</div>

   
    
    
{%endblock%}