{%extends 'base.html'%}
{%block page_content%}

<div class='col-lg-4'>
        
</div>
<div class='col-lg-4'>
<h2 class='text-center'>Sign In</h2>
</br>
</br>
<form class="form form-horizontal" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.id) }}
                {{ wtf.form_field(form.password) }}
                </br>
                <div class='row'>
                        <div class='col-lg-5'>{{wtf.form_field(form.remember)}}</div>
                        <div class='col-lg-4'> {{form.role(class_='form-control')}}</div>
                        <div class='col-lg-3'>{{wtf.form_field(form.login)}}</div>
                </div>
                
               
                
</form>



        
</div>
<div class='col-lg-4'></div>

{%endblock%}